<% if (typeof error_msg !== 'undefined') { %>
    <% error_msg.forEach(error => { %>
        <div class="alert alert-warning alert-dismissible fade show text-danger" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    <% }); %> 
<% } %>
